@tailwind base;
@tailwind components;
@tailwind utilities;





*{
    /* background-color: #0c0c1d; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.fullVh{
    @apply h-screen snap-center
}